.caixa-codigo{


    width: 100%;

    background-color: #00000f;

    color: white;

    border-radius: 4px;

    margin-top: 2%;

    overflow: hidden;

}

.caixa-codigo > pre{

    padding: 2%;

    

}

.borda{

    background-color: grey;

    width: 100%;

    border-top-right-radius: 4px 4px;

    border-top-left-radius: 4px 4px;

    color: white;

    padding: 1%;

    

}

#onde-imbui-elemento{

    width: 100%;

}