#onde-imbui-elemento{

    display: flex;
    flex-direction: column;
    align-items: center;

}


.caixa-codigo{


    width: 100%;

    background-color: #464d70;

    color: white;

    border-radius: 4px;

    margin-top: 2%;

    overflow: hidden;


    
}

code{

    text-transform: none;

}

.caixa-codigo > pre{
    
    padding: 2%;
    

}

.borda{

    background-color: grey;

    width: 100%;

    border-top-right-radius: 4px 4px;

    border-top-left-radius: 4px 4px;

    color: white;

    padding: 1%;

    

}

#onde-imbui-elemento{

    width: 100%;
    
}


.area-submissao {


    width: 100%;
    
    
    display: flex;
    
    flex-direction: column;
    align-items: center;

    padding-top: 5%;
    background-color: #757575;
    
    
}

.area-submissao > input {
    
    padding: 15px;
    border-radius: 50px;
    background-color: white;
    width: 95%;
    font-size: large;
    
}

.area-submissao > pre{
    
    background-color: #757575;
    
    
}

.area-submissao > * {

    margin-bottom: 5px;
    margin-top: 5px;

}

.area-submissao > button {

    padding: 10px;
    width: 50%;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #a1ac88;

}


.area-submissao > button:hover{

    text-decoration: underline;

}


hr{

    border-color: #464d70;
    width: 100%;
    
    margin-top: 5%;
    margin-bottom: 3%   ;

}



.button-carrega-mais {

    background-color: aqua;
    border: 0;
    border-radius: 15px;

    width: 25%;

    text-transform: uppercase;

    padding-top: 1%;
    padding-bottom: 1%;

    

}