/*
Paleta de cores

cor1: #ffffff
cor2: #a1ac88
cor3: #757575
cor4: #464d70
cor5: #000000


*/

@font-face {
    font-family: "Montserrat";
    src: url("../fontes/Montserrat/Montserrat-VariableFont_wght.ttf");
}



*{


    text-transform: capitalize;

    font-family: "Montserrat";

}

p{


    text-transform: none;

}

body{

    display: flex;
    flex-direction: column;

    align-items: center;



    background-size: contain;

    background-repeat: round;

    margin: 0;


}

h1{

    color: #ffffff;

    text-shadow: 4px 4px 4px #000000;


}


header{

    background-color: #464d70;

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;

    margin: 0;

    
    border-bottom: groove 7px;
    border-color: #757575;
    
}





main{

    width: 70%;

    background-color: #ffffff;

    display: flex;

    align-items: center;

    flex-direction: column;

}


div{

    width: 50%;

}
